@import '../base';

.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  label {
    flex: 1 1;
    margin-right: 10px;
  }
  input {
    flex: 2 2;
  }
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea {
  font-family: $primary-font;
  font-size: $text-sm;
  padding: 5px;
  margin: 5px;
  width: 70px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  background-color: transparent;
}

input[type=text]:active, input[type=email]:active, input[type=password]:active, input[type=number]:active, input[type=file]:active, textarea:active,
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, input[type=file]:focus, textarea:focus,
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover, input[type=file]:hover, textarea:hover {
  outline: none;
  background-color: rgba(6, 116, 210, .05);
  border-bottom: 2px solid rgba(6, 116, 210, 1);
}

select {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
}

textarea {
  height: 2em;
}
